body, html, :root, #root {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  width: 100%;
}

*:focus {
  outline: none;
}

::-moz-focus-inner {
  border: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
